<form ng-submit="checkLights()">
  <label>How many lights are there?</label>
  <input type="number" ng-model="numLights" required placeholder="5"></input>

  <div style="margin-bottom: 50px; clear: both;"></div>

  <div style="background: orange; height: 50px; width: 50px; float: left; margin-right: 50px;"></div>
  <div style="background: orange; height: 50px; width: 50px; float: left; margin-right: 50px;"></div>
  <div style="background: orange; height: 50px; width: 50px; float: left; margin-right: 50px;"></div>
  <div style="background: orange; height: 50px; width: 50px; float: left; margin-right: 50px;"></div>
</form>
